<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'layouts/errors', obj: @user %>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>
            <td>
              <% if @user == current_user %>
                <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
              <% end %>
            <td>
              <% if @user == current_user %>
                <%= link_to 'Destroy', book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
              <% end %>
              <% if @book.favorited_by?(current_user) %>
               <p>
                 <%= link_to book_favorites_path(@book), method: :delete do %>
                   ♥<%= @book.favorites.count %>いいね
                 <% end %>
               </p>
               <% else %>
               <p>
                 <%= link_to book_favorites_path(@book), method: :post do %>
                   ♡<%= @book.favorites.count %>いいね
                 <% end %>
               </p>
              <% end %>
              <td>
                <p>コメント数：<%= @book.book_comments.count %></p>
              </td>
        </tr>
              <tr>
                <td>
                <!--<p>コメント数：<%#= @book.book_comments.count %></p>-->
                <% @book.book_comments.each do |book_comment| %>
                  <%= link_to user_path(book_comment.user) do %>
                    <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p><br>
                    <%= book_comment.user.name %>
                  <% end %>
                  <% if book_comment.user == current_user %>
                    <%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete,class: "btn btn-sm btn-danger" %>
                  <% end %>
                <% end %>
                </td>
              </tr>
              <tr>
                <td>
                <%= form_with model: [@book, @book_comment] do |f| %>
                  <%= f.text_area :comment, rows: '5' %>
                  <%= f.submit "送信" %>
                <% end %>
                </td>
              </tr>
      </table>
    </div>
  </div>
</div>
