<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'layouts/errors', obj: @user %>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>
            <td>
              <% if @user == current_user %>
                <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
              <% end %>
            <td>
              <% if @user == current_user %>
                <%= link_to 'Destroy', book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
              <% end %>
              <% if @user.favorited_by?(current_user) %>
               <p>
                 <%= link_to book_favorites_path(@user), method: :delete do %>
                   ♥<%= @user.favorites.count %>いいね
                 <% end %>
               </p>
               <% else %>
               <p>
                 <%= link_to book_favorites_path(@user), method: :post do %>
                   ♡<%= @user.favorites.count %>いいね
                 <% end %>
               </p>
              <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
